<script>
  import { Grid, Input, ButtonGroup } from "fvscl";
  import ChromeTop from "./ChromeTop.svelte";
  import ChromeChannels from "./ChromeChannels.svelte";
  import ChromeChat from "./ChromeChat.svelte";
</script>

<style>
  main :global(.wrapper) {
    gap: 0;
    height: 100vh;
    overflow: hidden;
  }
  .main {
    display: flex;
    overflow: hidden;
  }
  main {
    height: 100vh;
    overflow: hidden;
  }
</style>

<main>
  <Grid class="wrapper" templateRows="auto 1fr">
    <ChromeTop />
    <div class="main">
      <ChromeChannels class="channels" />
      <ChromeChat class="chat" />
    </div>
  </Grid>
</main>
