<script>
  import { Input, Grid } from "fvscl";
</script>

<style>
  div {
    padding-left: var(--space--2);
    padding-right: var(--space--2);
    padding-top: var(--space--2);
    padding-bottom: var(--space--2);
    background: var(--chromeTop);
    color: var(--color-light);
  }
  img {
    filter: invert();
  }
</style>

<div>
  <Grid templateColumns="auto auto auto 1fr auto" alignItems="center">
    <img src="icons/arrow-left.svg" alt="" />
    <img src="icons/arrow-right.svg" alt="" />
    <img src="icons/clock.svg" alt="" />
    <Input class="input" sizeSm value="Search" />
    <img src="icons/help.svg" alt="" />
  </Grid>
</div>
