<script>
  import { Input, Grid, Heading, Text, List, ListItem } from "fvscl";
  import Message from "./Message.svelte";
</script>

<style>
  div {
    flex: 1 1 auto;
  }
  div :global(.wrapper) {
    max-height: 100%;
  }
  div :global(.messages) {
    padding: var(--gap);
    overflow-y: auto;
  }
  div :global(.messagebox) {
    padding: var(--space--2);
    background-color: var(--color-code-background);
  }
  .actions {
    display: flex;
    justify-content: space-between;
  }
</style>

<div>
  <Grid class="wrapper" tight templateRows="1fr auto">
    <Grid class="messages">
      <Message
        author="Cynthia Goodman"
        time="12:41"
        avatar="avatars/one.jpg"
        content="Adipisicing cupidatat incididunt ullamco non ullamco laboris.
        Ad cillum proident ullamco nostrud. Nostrud excepteur et ad in id
        consectetur exercitation aute nisi. Est aute Lorem ex consectetur quis
        quis minim excepteur excepteur fugiat enim. Ex Lorem duis tempor Lorem
        officia fugiat pariatur voluptate dolore consectetur ex non pariatur
        dolor." />
      <Message
        author="Cole Frazier"
        time="12:43"
        avatar="avatars/two.jpg"
        content="Magna aliqua nisi sint sint est." />
      <Message
        author="Lena Pope"
        time="12:45"
        avatar="avatars/three.jpg"
        content="Mollit ea voluptate tempor et culpa aliquip consectetur
        excepteur adipisicing ex cillum. Dolore ipsum velit pariatur dolor magna
        culpa commodo. Consequat voluptate laborum incididunt labore ipsum.
        Occaecat est nisi Lorem irure nostrud ullamco dolor Lorem sint. Eiusmod
        in tempor irure officia aliqua aliquip voluptate." />
      <Message
        author="Larry Reed"
        time="12:46"
        avatar="avatars/four.jpg"
        content="Lorem voluptate pariatur consequat esse officia laboris sint
        aliquip enim et enim velit ipsum. Anim proident do non labore aliqua est
        do sint sint duis proident ipsum. Do culpa tempor deserunt Lorem
        cupidatat id officia laboris. Dolore laboris fugiat in deserunt fugiat
        sunt proident proident deserunt sint pariatur. Commodo enim sit aute
        consequat deserunt ex consequat Lorem do dolor laboris ex consequat
        cillum. Veniam dolore deserunt nostrud reprehenderit incididunt nostrud.
        Duis esse amet mollit tempor ea sit deserunt eiusmod in cillum." />
      <Message
        author="Cole Frazier"
        time="12:48"
        avatar="avatars/two.jpg"
        content="Adipisicing culpa magna dolore culpa Lorem anim eiusmod do
        voluptate mollit." />
      <Message
        author="Cynthia Goodman"
        time="12:51"
        avatar="avatars/one.jpg"
        content="Culpa consectetur qui officia non aute enim laborum. Consequat
        mollit voluptate veniam adipisicing elit mollit quis officia. Nostrud
        dolor aute tempor ad. Exercitation aute eiusmod aliqua commodo deserunt
        nulla dolore. Nisi officia occaecat occaecat non culpa reprehenderit
        mollit aute mollit voluptate deserunt consequat reprehenderit do. Veniam
        occaecat commodo nostrud irure. Id irure non sunt consectetur ut et
        commodo. Reprehenderit et cillum do consequat nulla irure irure laborum.
        Consectetur cillum ex eu elit consequat tempor esse nulla esse cupidatat
        officia qui est. Dolor esse ullamco excepteur occaecat aute eu sint.
        Lorem nisi esse consectetur cillum esse." />
      <Message
        author="Cole Frazier"
        time="12:56"
        avatar="avatars/two.jpg"
        content="Occaecat tempor sunt officia id ullamco enim dolor nulla sunt
        ex et pariatur consectetur pariatur. Et deserunt occaecat sint
        incididunt culpa in labore aliquip. Ex amet dolore voluptate anim duis
        velit dolore. Velit laborum nulla est sint sunt do duis. Do nisi
        reprehenderit pariatur aliquip ut laborum. Laboris aliqua do sunt esse
        consectetur consequat sit quis non consectetur aliqua aliquip id. Irure
        fugiat eu aute id excepteur esse adipisicing incididunt reprehenderit
        nisi aute. Laboris officia culpa aliqua eiusmod nulla qui cupidatat ut
        Lorem ullamco irure. Ut qui cupidatat veniam labore anim. Fugiat in do
        Lorem dolore exercitation elit ut tempor sint labore. Magna mollit
        labore ipsum veniam culpa. Incididunt eu sit minim cupidatat quis fugiat
        non pariatur ipsum enim nisi. Eu nulla officia non enim eu consectetur
        voluptate.Elit pariatur tempor dolor sint proident fugiat excepteur
        ullamco et ad. Anim dolore deserunt nulla reprehenderit fugiat enim do
        magna. Ut labore sit cillum tempor qui tempor ea et. Pariatur culpa
        tempor minim sit. Ut reprehenderit sit adipisicing consequat." />
      <Message
        author="Cole Frazier"
        time="13:42"
        avatar="avatars/two.jpg"
        content="Mollit incididunt officia cupidatat ut. Deserunt ut minim
        mollit voluptate nostrud deserunt consectetur excepteur commodo nisi
        fugiat ex. Consequat voluptate nulla cillum ex reprehenderit irure
        proident ipsum nulla id irure anim. Veniam consectetur sint magna
        reprehenderit veniam qui culpa. Lorem ad ut mollit deserunt exercitation
        fugiat veniam nisi nisi culpa.Eiusmod Lorem laboris nostrud veniam
        consectetur est cillum sint deserunt. Exercitation velit dolore
        cupidatat veniam esse sint id reprehenderit deserunt ad qui
        reprehenderit. Proident occaecat veniam qui velit id laboris non tempor
        cupidatat aliqua velit nisi ullamco.Magna consequat et quis minim tempor
        reprehenderit voluptate anim enim esse ex. Excepteur quis cillum tempor
        magna dolor Lorem. Dolor aliquip velit labore qui consequat eu
        incididunt ex anim aliqua. Laborum pariatur fugiat do esse labore
        nostrud ipsum velit deserunt qui nostrud ullamco. Quis id excepteur et
        magna magna nisi proident nostrud aute consequat labore incididunt.
        Occaecat exercitation do laborum laborum anim id." />
    </Grid>
    <Grid class="messagebox" tight>
      <Input textarea />
      <div class="actions">
        <Grid
          tight
          justifyItems="center"
          templateColumns="repeat(6, var(--gap))">
          <img src="icons/bold.svg" alt="" />
          <img src="icons/underline.svg" alt="" />
          <img src="icons/italic.svg" alt="" />
          <img src="icons/code.svg" alt="" />
          <img src="icons/link.svg" alt="" />
          <img src="icons/list.svg" alt="" />
        </Grid>
        <Grid
          tight
          justifyItems="center"
          templateColumns="repeat(3, var(--gap))">
          <img src="icons/at.svg" alt="" />
          <img src="icons/mood-happy.svg" alt="" />
          <img src="icons/file-plus.svg" alt="" />
        </Grid>
      </div>
    </Grid>
  </Grid>
</div>
