<script>
  import { Input, Grid, Heading, Text, List, ListItem } from "fvscl";
</script>

<style>
  div {
    padding: var(--space--2);
    background: var(--chromeChannels);
    color: var(--color-light);
    overflow: auto;
    flex: 0 0 auto;
  }
  img {
    filter: invert();
    margin-right: var(--space--2);
    height: var(--font-size-base);
  }
</style>

<div>
  <Grid templateRows="auto 1fr">
    <Grid templateColumns="1fr auto">
      <span>
        <Heading marginBottom={false} level="5">Acme Inc</Heading>
        <Text marginBottom={false}>Edith Hall</Text>
      </span>
      <span>
        <img src="icons/circle-plus.svg" alt="" />
      </span>
    </Grid>
    <Grid templateRows="auto 1fr">
      <List tight>
        <ListItem>
          <img src="icons/align-left.svg" alt="" />
          All Unreads
        </ListItem>
        <ListItem>
          <img src="icons/message.svg" alt="" />
          Threads
        </ListItem>
        <ListItem>
          <img src="icons/at.svg" alt="" />
          Mentions & Reactions
        </ListItem>
        <ListItem>
          <img src="icons/file.svg" alt="" />
          Drafts
        </ListItem>
        <ListItem>
          <img src="icons/arrow-down.svg" alt="" />
          Show More
        </ListItem>
      </List>
      <List tight>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          Malaysia
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          Marshall Islands
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          Sweden
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          Austria
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          São Tomé and Príncipe
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          United Arab Emirates
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          South Korea
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          Italy
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          Mauritius
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          Poland
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          St. Martin
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          Equatorial Guinea
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          Tuvalu
        </ListItem>
        <ListItem>
          <img src="icons/hash.svg" alt="" />
          São Tomé and Príncipe
        </ListItem>
      </List>
    </Grid>
  </Grid>
</div>
