<script>
  import { Text, Grid } from "fvscl";
  export let content;
  export let avatar;
  export let author;
  export let time;
</script>

<style>
  img {
    width: var(--space-4);
    height: var(--space-4);
    border-radius: var(--border-radius-0);
  }
</style>

<Grid tight templateColumns="auto 1fr">
  <img src={avatar} alt="Avatar" />
  <Grid tight>
    <Grid tight alignItems="baseline" templateColumns="auto 1fr">
      <Text marginBottom={false}>
        <strong>{author}</strong>
      </Text>
      <Text marginBottom={false} sm secondary>{time}</Text>
    </Grid>
    <div>
      <Text marginBottom={false}>{content}</Text>
    </div>
  </Grid>
</Grid>
